mixin article(heading,content)
    article.article
        h1.heading=pageHeading.title_1
        .content-wrapper
            .article__content
                p=pageContent.content_1 
            .article__content 
                p.
                    Каждый клиент российского офиса Friedrich Wilhelm Raiffeisen получает персонального менеджера в Москве, который осуществляет открытие и обслуживание инвестиционных счетов в Австрии, а также обеспечивает доступ к международному рынку ценных бумаг через платформы в России и за рубежом.
            .article__content 
                p=pageContent.content_3
            .article__content 
                p=pageContent.content_4 
            .article__content
                p=pageContent.content_5
                    a.forward-link(href="http://ya.ru" target="blank") 
                        span.last-word в Вене
                        span.article__content-arrow  &rarr;
    block 